@charset "utf-8";

body {
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;  
  background-image: url('b3.gif');
  margin: 20;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #890914;
}

a:hover {
  text-decoration: underline;
  color: #890914;
}

